{% extends 'base.html.twig' %}

{% block title %}Liste des Animes{% endblock %}

{% block body %}

    <div class="container mt-4">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('app_home') }}">AnimeBoxd</a>
                <div class="d-flex">
                    {% if isAuthenticated %}
                        <a href="{{ path('liked_anime') }}" class="btn btn-outline-primary">Voir les animes likés</a>
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
                    {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-outline-primary">Connexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <h1 class="text-center mb-4">Liste des Animes likés</h1>

        <div class="row">
            {% for anime in animes %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ anime.picture }}" class="card-img-top" alt="{{ anime.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ anime.title }}</h5>
                            {% if anime.stars > 0 %}
                                <div class="mb-2">
                                    {% for i in 1..anime.stars %}
                                        ⭐
                                    {% endfor %}
                                </div>
                            {% endif %}

                            <a href="{{ path('one_anime', {id: anime.id}) }}" class="btn btn-primary">Voir plus</a>
                            {% if isAuthenticated == true %}
                                {% if anime.isLiked == false %}
                                    <form action="{{ path('anime_like', {id: anime.id}) }}" method="post" class="like-form">
                                        <button type="submit" class="btn btn-success">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-heart-fill" viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                                            </svg>
                                            J'aime
                                        </button>
                                    </form>
                                {% else %}
                                    <form action="{{ path('anime_dislike', {id: anime.id}) }}" method="post" class="like-form">
                                        <button type="submit" class="btn btn-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                                 class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
                                                <path d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77"/>
                                            </svg>
                                            J'aime pas
                                        </button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucun anime trouvé.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
